.item-list {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    width: 100%;
    transform-style: preserve-3d;
    animation: rotate 20s infinite linear;
    position: relative;
  }
  
  .item {
    position: absolute;
    background-color: var(--gray-color);
    padding: 1rem;
    border-radius: 1vh;
    width: 10vw;
    overflow: hidden;
    transform-origin: center;
  }
  
  .cover-container {
    width: 100%;
    aspect-ratio: 1/1;
  }
  
  .cover-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .item h3,
  .item h4 {
    text-align: left;
    font-size: 1rem;
  }
  
  .item h4 {
    color: var(--light-gray-color);
    font-size: 0.9rem;
  }
  
  /* Rotate animation */
  @keyframes rotate {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  
  /* Position the items in a circle */
  .item:nth-child(1) {
    transform: rotateY(0deg) translateZ(400px);
  }
  .item:nth-child(2) {
    transform: rotateY(45deg) translateZ(400px);
  }
  .item:nth-child(3) {
    transform: rotateY(90deg) translateZ(400px);
  }
  .item:nth-child(4) {
    transform: rotateY(135deg) translateZ(400px);
  }
  .item:nth-child(5) {
    transform: rotateY(180deg) translateZ(400px);
  }
  .item:nth-child(6) {
    transform: rotateY(225deg) translateZ(400px);
  }
  .item:nth-child(7) {
    transform: rotateY(270deg) translateZ(400px);
  }
  .item:nth-child(8) {
    transform: rotateY(315deg) translateZ(400px);
  }
  
  @media only screen and (max-width: 1128px) {
    .item {
      width: 140px;
    }
    .item h3,
    .item h4 {
      font-size: 0.9rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .item {
      width: 100px;
    }
    .item h3,
    .item h4 {
      font-size: 0.8rem;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .item {
      width: 80px;
    }
    .item h3,
    .item h4 {
      font-size: 0.7rem;
    }
  }
  