@import '../../../scss/variables'; // Centralize import for variables

.sticky-nav {
  position: sticky;
  top: 2rem;
  background-color: var(--white-color);
  padding: 1.5rem 0;
  z-index: 1000;
  display: flex;
  justify-content: end;
  align-items: center;
  transition: var(--transition);

  .logo-container {
    pointer-events: none;
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    height: 20rem;
    flex-direction: column;
    justify-content: center;
    transform: translateY(55%);
    transition: all 0.3s ease-in-out;
    align-items: start;

    .logo {
      height: 6rem;
      transition: var(--hover-transition);
      transform: translateX(calc(50vw - 50%));
    }

    .logo-phrase {
      display: block;
      text-align: center;
      font-size: 2rem;
      color: var(--text-color);
      transform: translateX(calc(-16rem + 50vw));
      transition: all 0.3s ease-in;
    }
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex: 1;

    li {
      margin: 0 1rem;
      padding-inline: 4vw;
      padding-block: 0.5rem;
      transition: var(--hover-transition);

      .user-name {
        font-weight: 700;
        font-size: 1.2rem;
        color: var(--black-color);
        cursor: pointer;
      }

      a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 1.2rem;
        font-weight: bold;

        &.selected-page {
          background: var(--brand-gradient);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 0 1rem;
    transition: var(--transition);

    div {
      width: 25px;
      height: 3px;
      background-color: var(--text-color);
      margin: 4px 0;
      transition: var(--transition);
    }
  }

  &.shrink {
    padding: 1rem 0;

    ul {
      justify-content: end;
    }

    li {
      padding: 0.5rem 1vw;
    }

    @media only screen and (max-width: 728px) {
      ul {
        display: none;
      }

      .hamburger {
        display: flex;
      }
    }

    ul.open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: var(--white-color);
      width: 40%;
      text-align: center;
      z-index: 999;

      li {
        padding-block: 1rem;
      }
    }

    .logo-container {
      height: 3rem;
      padding: 0 1rem;
      transform: translateY(0);

      .logo {
        height: 2rem;
        margin-left: 1rem;
        transform: translateX(0);
      }

      .logo-phrase {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 728px) {
  .sticky-nav {
    ul {
      display: flex;
    }

    ul.open {
      display: flex;
    }

    .logo-container {
      height: 15rem;

      .logo {
        height: 4rem;
      }
    }

    ul li {
      margin: 0 1rem;
      padding-inline: 2vw;
    }
  }
}

@media only screen and (max-width: 450px) {
  .sticky-nav {
    ul li {
      margin: 0 0.5rem;
      padding-inline: 1.5vw;
    }

    ul li a {
      font-size: 1rem;
    }

    .logo-container {
      height: 10rem;

      .logo {
        height: 3rem;
      }

      .logo-phrase {
        font-size: 1rem;
      }
    }
  }
}
