@import '../../../scss/variables'; // Adjust path if necessary

// Base styles for the sticky navigation
.sticky-nav {
  position: sticky;
  top: 2rem;
  background-color: $white-color;
  padding: 1.5rem 0;
  z-index: 1000;
  display: flex;
  justify-content: end;
  align-items: center;
  transition: $transition;

  // Logo container styles
  .logo-container {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    height: 20rem;
    flex-direction: column;
    justify-content: center;
    transform: translateY(50%);
    transition: all 0.3s ease;
    align-items: start;

    .logo {
      height: 6rem;
      transition: all 0.3s ease-in-out;
      transform: translateX(calc(50vw - 50%));
    }

    .logo-phrase {
      display: block;
      transition: all 0;
      text-align: center;
      font-size: 2vw;
      transition: all 0.3s ease-in-out;
      transform: translateX(33vw);

      @media only screen and (max-width: 968px) {
        transform: translateX(25vw);
        font-size: 3vw;
      }
    }
  }

  // Default styles for the navigation list
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex: 1;

    // List item styles
    li {
      margin: 0 1rem;
      padding-inline: 4vw;
      transition: all 0.3s ease-out;
      padding-block: 0.5rem;

      a {
        text-decoration: none;
        color: $text-color;
        font-size: 1.2rem;
        font-weight: bold;

        &.selected-page {
          background: linear-gradient($secondary-color, $tertiary-color);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  // Hamburger menu styles
  .hamburger {
    display: none; // Hidden by default
    flex-direction: column;
    cursor: pointer;
    padding: 0 1rem;
    transition: $transition;

    div {
      width: 25px;
      height: 3px;
      background-color: $text-color;
      margin: 4px 0;
      transition: $transition;
    }
  }

  // Styles applied when scrolled and shrink class is added
  &.shrink {
    padding: 1rem 0;
    
    ul {
      justify-content: end;
    }

    li {
      padding: 0.5rem 1vw;
    }

    @media only screen and (max-width: 728px) {
      // Hide the horizontal nav when .shrink is applied and screen is less than 728px
      ul {
        display: none; // Hide horizontal nav
      }

      // Show hamburger menu when .shrink is applied and screen is less than 728px
      .hamburger {
        display: flex;
      }
    }

    // Show the vertical navigation list when hamburger menu is open
    ul.open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: $white-color;
      width: 40%;
      text-align: center;
      z-index: 999; // Ensure it overlaps other content

      li {
        padding-block: 1rem;
      }
    }

    // Adjust logo container and logo size when .shrink is applied
    .logo-container {
      height: 3rem;
      padding: 0 1rem;
      display: flex;
      justify-content: center;
      align-items: start;
      transform: translateY(0);

      .logo {
        height: 2rem;
        margin-left: 1rem;
        transform: translateX(0);
      }

      .logo-phrase {
        display: none;
      }
    }
  }
}

// Media query for screens less than 728px
@media only screen and (max-width: 728px) {
  .sticky-nav {
    ul {
      display: flex; // Hide horizontal nav by default on small screens
    }

    // Show the vertical navigation list when hamburger menu is open
    ul.open {
      display: flex;
    }

    .logo-container {
      height: 15rem;
      .logo {
        height: 4rem;
      }
    }

    ul li {
      margin: 0 1rem;
      padding-inline: 2vw;
    }
  }
}

// Media query for screens less than 450px
@media only screen and (max-width: 450px) {
  .sticky-nav {
    ul li {
      margin: 0 0.5rem;
      padding-inline: 1.5vw;
    }

    ul li a {
      font-size: 1rem;
    }
  }
  .sticky-nav {
    .logo-container {
      height: 10rem;
      .logo {
        height: 3rem;
      }
      .logo-phrase{
        font-size: 1rem;
      }
    }
  }
}
