@import '../../../../scss/variables';

.banner {
  font-family: 'Readex Pro', sans-serif;
  aspect-ratio: 4 / 2;
  width: 100vw;
  background: var(--background-gradient);
  overflow: hidden;
  user-select: none;

  .banner-image {
    position: relative;
    height: 80%;
    right: 30vw;
    z-index: 399;
    opacity: 1;
    align-self: flex-end;
  }

  .align-center-container {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
  }

  .banner-text-container {
    user-select: none;
    white-space: nowrap;
    font-family: 'Readex Pro', sans-serif;
    font-weight: 700;
    font-size: 8vw;
    padding-inline: 5vw;
    display: flex;
    flex-direction: column;
    position: relative;
    left: -6vw;
    text-shadow: 0.5vw 0.5vw 2vw var(--banner-shadow-color);
    transition: text-shadow 0.4s ease-out;

    &:hover {
      text-shadow: 0vw 0vw 2vw #ffb8e74a;
    }

    .paragraph {
      font-size: 1.5vw;
      font-weight: 400;
      color: var(--banner-text-color);
      position: relative;
      top: -5vw;
      left: 11vw;
    }
  }

  .top {
    display: flex;
    height: min-content;
    flex-wrap: wrap;

    &-start {
      padding-top: 1.5vw;
      font-size: 3vw;
      color: var(--primary-color);
      min-width: 10vw;
      max-width: 10vw;
      display: flex;
      justify-content: end;
      align-items: start;
    }

    &-end {
      color: #fff;
      flex: 0.8;
      display: flex;
      justify-content: start;
      align-items: end;
    }
  }

  .bottom {
    height: min-content;
    position: relative;
    top: -3vw;
    display: flex;

    &-start {
      min-width: 10vw;
      max-width: 10vw;
      display: flex;
      justify-content: end;
      align-items: start;
      color: var(--primary-color);
    }

    &-end {
      color: var(--primary-color);
      flex: 0.8;
      display: flex;
      justify-content: start;
      align-items: start;
    }
  }
}

@media only screen and (max-width: 728px) {
  .banner {
    margin-top: 14rem;
  }
}

@media only screen and (max-width: 450px) {
  .banner {
    margin-top: 10rem;
  }
}
