.album-page {
    margin-top: 2rem;
    display: flex;
    gap: 2rem; // Space between the sidebar and album section
    padding: 2rem;
    background-color: #f9f9f9; // Light background for the whole page
    min-height: 100vh; // Ensure the page takes full viewport height
  }
  
  .category-list {
    width: 250px; // Fixed width for the sidebar
    background-color: #fff; // White background for the sidebar
    padding: 1rem;
    border-radius: 8px; // Slightly rounded corners
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); // Soft shadow for depth
    height: fit-content; // Adjust the height based on content
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    li {
      padding: 0.75rem 0;
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
      transition: color 0.3s ease;
  
      &:hover {
        color: #007bff; // Blue color on hover
      }
    }
  }
  
  .album-section {
    flex-grow: 1; // Allows the album section to take the remaining space
    display: flex;
    flex-direction: column;
    background-color: #fff; // White background for album content
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
  }
  
  .album-header {
    display: flex;
    justify-content: space-between; // Align items to opposite ends
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
  
    h1 {
      font-size: 1.75rem; // Slightly larger font for page title
      font-weight: 600;
      color: #333; // Darker color for emphasis
    }
  }
  

  .page-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    }
  
    span {
      font-weight: 500; // Make the page number bold
    }
 
  