// Color variables
$primary-color: #180161;
$secondary-color: #fb773c;
$tertiary-color: #c22e7d;
$background-gradient: linear-gradient(90deg, rgba(190, 71, 142, 1) 0%, rgba(87, 165, 237, 1) 100%);
$white-color: #ffffff;
$gray-color: #e7e7e7;
$light-gray-color: #888888;
$text-color: rgb(41, 41, 41);
$brand-gradient: linear-gradient(45deg, #fb773c 0%, #c22e7d 100%);
$brand-gradient2: linear-gradient(90deg, #fb773c 0%, #c22e7d 100%);

// Transition variables
$transition: all 0.2s ease;

