@import './variables'; // Centralize variables

body {
  margin: 0;
  padding: 0;
  font-family: 'Reem Kufi', sans-serif;
  overflow-x: hidden;
  background-color: var(--white-color);

  main {
    min-height: 400px;
  }
}

h2 {
  color: var(--light-gray-color);
  margin: 0;
}

h3 {
  font-weight: 700;
  margin: 0.5rem 0 0;
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  margin: 0;
}

section {
  padding: 50px 0;
  border-bottom: 1px solid var(--border-color);
}

.text-gradient {
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 1rem;
  font-family: 'Reem Kufi', sans-serif;
}

button {
  font-family: 'Reem Kufi', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background:  linear-gradient(0deg, rgba(255, 81, 0, 0.521) 0%, rgba(207,43,126, 0.521) 19%, rgba(255,119,0, 0.521) 33%, rgba(210,53,130, 0.521) 54%, rgba(226,121,40, 0.521) 77%, rgba(255,0,151, 0.521) 100%);

  &:hover {
    background: linear-gradient(0deg, rgba(255,81,0,1) 0%, rgba(207,43,126,1) 19%, rgba(255,119,0,1) 33%, rgba(210,53,130,1) 54%, rgba(226,121,40,1) 77%, rgba(255,0,151,1) 100%);
  }
}

::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100000vh black;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: 0px 0px 0px 100000vh rgb(22, 22, 22);
}